*, *:after {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    color: #FAF0CA;
}

h1{
    color:#FAF0CA;
    text-align: center;
    background-color: #0D3B66;
}

h2{
    color: #FAF0CA;
    text-align: center;
    background-color: #0D3B66;
}

h3{
    color: #FAF0CA;
    text-align: center;
    background-color: #0D3B66;
}

blockquote{
    color: #0D3B66;
    font-size: 1.75em;
    text-align: center;
}

header{
    background-color: #FAF0CA;
    padding: 800px;
}

nav{
    display: inline-block;
    background-color: #F4D35E;
    text-align: center;
    border: #0D3B66 thick solid;
    width: 80%;
}


nav ul li{
    display: inline-block;
    text-align: center;
}

a{
    color: #0D3B66;
    font-size: 2.5em;
}


a:hover{
    color: #0D3B66;
    font-size: 3em;
}

p{
    color: #F4D35E;
    text-align: center;
    text-justify: inter-word;
    font-size: 2.5em;
}

.Hehe{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 150px;
    padding-bottom: 150px;
}

.HarHar{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 150px;
    padding-bottom: 150px;
}

.HeHeHarHar{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 150px;
    padding-bottom: 150px;
}

.container{
    width: 80%;
    text-align: center;
}

table{
    margin-left: 40%;
    background-color: #F4D35E;
}

footer{
    padding: 500px;
}

.box{
    border: #0D3B66 thick solid;
}

.button{
    border: #0D3B66 thick solid;
}

th{
    font-size: 2.5em;
}

img{
    width: 50%;
    height: 50%;
    margin-left: 50%;
}